table.dashboard-elements > tbody > tr {
  display: none;
}

#cdashtabsButtons button {
  padding: 10px;
  cursor: pointer;
  margin: 5px;
  border: 1px solid #000;
}

#cdashtabsButtons button.cdashtabs-is-active {
  background-color: #fff;
}
